# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Optional: Uncomment the following line if you're using yarn v2+
.yarn/cache/

# Environment variables
.env
.env.local
.env.*.local

# Runtime data
pids/
logs/
results/
*.pid
*.log
*.seed
*.pid.lock
